body {
    /* Background image from Public Domain Pictures as Geodes Background */
    background-image: url('../images/geodes-background.jpg');
    background-repeat: repeat;
}

.gem-image {
    border-color: black;
    border-style: dotted;
    margin-right: 5px;
    margin-left: 5px;
}

.targetAndCurrentCard {
    margin-top: auto;
    margin-bottom: auto;

}

#start-btn {
    padding: 15px 15px;
}

.startInfo {
    text-align: center;
    margin: auto;
}

.gemBar {
    text-align: center;
}

aside h1 {
    text-align: center;
}

.gameSection {
    border: solid 1px;
    background-color: #CAA472;
    border-radius: 10px;
    margin-top: 10px;
}

.row {
    margin: 20px 0;
}

.list-group-item {
    background-color: #DCB27C;
}

.card {
    border-color: black;
    border: solid;
    box-shadow: 10px 10px;
}

.winsAndLossCard,
.targetAndCurrentCard {
    text-align: center;
    font-size: 200%;
}